h1 {
    text-align: center;
}

.box {
    width: 100%;
    height: 100%;
    border: solid black 2px;
    column-count: 3;
    display: grid;
}

.inputBox {
    border: solid black 1px;
}

.calButton {
    background-color: cornflowerblue;
}